<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title"></div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right balanced" id="menu-list-item1" ui-sref="menu.invoiceRecord" menu-close="" ><span translate="MENU_LABEL_SCAN_INVOICE" ></span>
          <i class="icon ion-ios-camera-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right balanced" id="menu-list-item2"  ng-click="load()"
    ng-controller="queuedInvoicesCtrl"  menu-close="" ><span translate="MENU_LABEL_INVOICE_QUEUED"></span>
          <i class="icon ion-ios-list-outline"></i>
        </ion-item>
        <ion-item class="item-icon-right balanced" id="menu-list-item3" ng-click="logout()" ng-controller="loginCtrl" menu-close="" ><span translate="MENU_LABEL_EXIT"></span>
          <i class="icon ion-android-exit"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>